﻿
@model keane_schembri_collectable_store.Models.Item
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@Model.ItemTypes.image" width="100" height="100" />

    <div class="card-body">
        <h5 class="card-title">
            Item Id:   @Html.DisplayFor(model => model.ItemId)
        </h5>
        <h5 class="card-title">
            Item Type Name:   @Html.DisplayFor(model => model.ItemTypes.itemTypeName)
        </h5>
        <h5>
            Quality Type:    @Html.DisplayFor(model => model.Quality.quality)
        </h5>
        <h5>
            User: @Html.DisplayFor(model => model.Seller.UserName)
        </h5>
        <h5>
            Quantity:    @Html.DisplayFor(model => model.Quantity)
        </h5>
        <h5>
            Price:@Html.DisplayFor(model => model.Price)
        </h5>
        <h5>
            Date: @Html.DisplayFor(modelItem => @Model.Date)
        </h5>

        <p class="card-text"></p>
    </div>

    <div class="card-body">
        @if (User.Identity.Name == @Model.Seller.UserName || User.IsInRole("Admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = @Model.ItemId })
            @Html.ActionLink("Delete", "Delete", new { id = @Model.ItemId })
        }

        @Html.ActionLink("Details", "Details", new { id = @Model.ItemId })

    </div>
</div>