﻿@model IEnumerable<keane_schembri_collectable_store.Models.Item>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemTypes.itemTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quality.quality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("All Items", "Index")</li>
            <li>@Html.ActionLink("Search Items in Catalogue", "Search")</li>
        </ul>
    </div>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemTypes.itemTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quality.quality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seller.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (User.Identity.Name == item.Seller.UserName || User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ItemId })
                }

                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
                }

                @Html.ActionLink("Details", "Details", new { id = item.ItemId })

            </td>
        </tr>
    }

</table>
