﻿
@model PagedList.IPagedList<keane_schembri_collectable_store.Models.Item>
@using PagedList.Mvc;

<div class="container-fluid">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Create New", "Create")</li>
        <li>@Html.ActionLink("All Items", "Index")</li>
        <li>@Html.ActionLink("Search Items in Catalogue", "Search")</li>
    </ul>
</div>
<br />

<br />
<div class="container-fluid">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 d-flex justify-content-center">
                @Html.Partial("_ItemsCards", item)
            </div>
        }
    </div>
</div>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Search",
    new { page, sortOrder = ViewBag.CurrentSort,ViewBag.searchString}))