﻿@model keane_schembri_collectable_store.Models.AboutModel
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@Model.Name.</h3>
<h3>@Model.Location</h3>

<p>Use this area to provide additional information.</p>
