﻿@model IEnumerable<keane_schembri_collectable_store.Models.Quality>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.quality)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.quality)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.qualityID }) |
            @Html.ActionLink("Details", "Details", new { id=item.qualityID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.qualityID })
        </td>
    </tr>
}

</table>
