﻿@model keane_schembri_collectable_store.Models.ItemType

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ItemType</h4>
    <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Category.categoryName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.categoryName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.itemTypeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.itemTypeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.image)
            </dt>

            <dd>
                <img src="@Url.Content(@Model.image)"  width="200" height="200" />
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
