﻿@model keane_schembri_collectable_store.Models.ItemType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ItemType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
