﻿@model IEnumerable<keane_schembri_collectable_store.Models.ItemType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.itemTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.itemTypeName)
        </td>
        <td>
            <img src="@item.image" width="200" height="200" />
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.itemTypeID })
                @Html.ActionLink("Delete", "Delete", new { id = item.itemTypeID })
            }

            @Html.ActionLink("Details", "Details", new { id = item.itemTypeID })
        </td>
    </tr>
}

</table>
